# Projeto 01 - Car Price Prediction

### Objetivo
O objetivo é estimar um valor de venda para novos veículos.

### Base de dados
O conjunto de dados foi retirado do site CarDekho e a base de treino contém 5.689 carros. Já a base de teste possui 2.375.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import random
random.seed(202101)

In [ ]:
!pip3 install catboost

## Análise dos dados

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_train = pd.read_csv("/content/drive/MyDrive/Aprendizado de Máquina/Bases/train_car_details.csv")
df_test = pd.read_csv("/content/drive/MyDrive/Aprendizado de Máquina/Bases/test_car_details.csv")

Os dados são compostos pelas variáveis:


* Variaveis quantitativas:<br>
 * Ano de fabricacao do carro (year)
 * Qtd de Km dirigidos (km_driven)
 * Potência máxima do motor (max_power)
 * Qtd de acentos (seats)
 * Quilometragem por litro (mileage)
 * Potencia do motor (engine)
 * Torque: responsável pela capacidade do motor produzir força motriz, ou seja, o movimento giratório
 * Preço de venda (selling_price) **Valor a ser predito**

* Variaveis qualitativas:
 * nome do carro (name)
 * tipo de combustivel utilizado (fuel)
 * tipo de vendendor (seller_type)
 * transmission: câmbio automático ou manual

 * Quantos donos ja possuiram o carro (owner)

### Treino

In [ ]:
df_train.head()

   Id                              name  ...               torque  seats
0   1     Hyundai Santro GLS I - Euro I  ...                  NaN    NaN
1   2                 Maruti Ertiga VDI  ...       200Nm@ 1750rpm    7.0
2   3     BMW 3 Series 320d Luxury Line  ...  400Nm@ 1750-2500rpm    5.0
3   4  Tata New Safari DICOR 2.2 EX 4x2  ...  320Nm@ 1700-2700rpm    7.0
4   5        Toyota Fortuner 3.0 Diesel  ...  343Nm@ 1400-3400rpm    7.0

[5 rows x 14 columns]

In [ ]:
#Porcentagem de nan por atributo
print(round(100*df_train.isna().sum()/len(df_train), 2))

Id               0.00
name             0.00
year             0.00
selling_price    0.00
km_driven        0.00
fuel             0.00
seller_type      0.00
transmission     0.00
owner            0.00
mileage          2.76
engine           2.76
max_power        2.65
torque           2.78
seats            2.76
dtype: float64

In [ ]:
pd.set_option('display.max_rows', 200)
df_train[df_train['mileage'].isnull()]
#pd.reset_option('display.max_rows')

Pelo fatos dos NaN's estar majoritariamente presente nas mesmas linhas e por representar um baixo volume em relação ao total (menos de 3%), tais linhas serão retiradas.

In [ ]:
print(f'Quantidade de linhas totais: ', df_train.shape[0])
# Remove as linhas com NaN
df_train = df_train.dropna(axis=0)   
print(f'Quantidade de linhas após retirada dos NaNs: ', df_train.shape[0])
#Aproximadamente 3% de linhas eliminadas

Quantidade de linhas totais:  5689
Quantidade de linhas após retirada dos NaNs:  5531

### Teste

In [ ]:
df_test.head()

   Id                                name  ...                 torque  seats
0   1                      Tata Indigo LS  ...  13.5@ 2,500(kgm@ rpm)    5.0
1   2             Maruti Baleno Delta 1.2  ...         115Nm@ 4000rpm    5.0
2   3          Maruti Swift Dzire AMT ZDI  ...         190Nm@ 2000rpm    5.0
3   4             Mahindra XUV500 W10 2WD  ...    330Nm@ 1600-2800rpm    7.0
4   5  Hyundai Elite i20 Asta Option BSIV  ...         117nm@ 4000rpm    5.0

[5 rows x 13 columns]

Tanto a base de treino quanto a base de teste possuem as mesmas colunas.

In [ ]:
#Porcentagem de nan por atributo
print(round(100*df_test.isna().sum()/len(df_train), 2))

Para facilitar a correção de algumas variáveis tanto do treino quanto do teste, serão criadas funções.

In [ ]:
df_train = df_train.iloc[:,1:] #retirando a coluna de id do treino
df_test = df_test.iloc[:,1:] #retirando a coluna Id do teste

## Pré-Processamento dos dados